#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  padding: 0;
}

.max {
  max-width: 100%;
  width: 100%;
}

.min-h-screen {
  min-height: 100vh;
  background-image: url("https://th.bing.com/th/id/R.6259c3aac412158d3963b672e3a4117a?rik=PjsFUFOtDpWH8g&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fb%2fb7%2fCumulus_Clouds_Over_Jamaica.jpg&ehk=%2b0wDpWmdguLOIcIQujchmfZJtFCazUQREo2mJNXUy3M%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-color: #aeaeae; /* Fallback color */
  color: #f0f0f0;
}
