#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  padding: 0;
}

.max {
  max-width: 100%;
  width: 100%;
}

.min-h-screen {
  min-height: 100vh;
  background-color: #fff;
  color: #f0f0f0;
}
