@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-image: url("/Users/lhakpasherpa/Desktop/Task 8/Home_1.jpg");
  background-size: cover;
  background-position: center;
}
